<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:versionCode="1" android:versionName="1.0" package="ToyStoreProject.ToyStoreProject" android:installLocation="auto">
	<uses-sdk android:minSdkVersion="21" android:targetSdkVersion="23" />
	<uses-permission android:name="android.permission.READ_PHONE_STATE" />
	<application android:allowBackup="true" android:roundIcon="@mipmap/ic_launcher_round" android:supportsRtl="true" android:theme="@style/AppTheme" android:icon="@drawable/toysto" android:label="ToyStore"></application>
</manifest>